// custom font
@import url(https://fonts.googleapis.com/css?family=Montserrat);

// basic reset
* {
  margin: 0;
  padding: 0;
}

body {

  background-color: lightblue;

}

// form styles
#msform {
  width: 400px;
  margin: 50px auto;
  text-align: center;
  position: relative;

  fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    padding: 20px 30px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, .4);
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;

    &:not(:first-of-type) {
      display: none;
    }

    // inputs
    input, textarea {
      padding: 15px;
      border: 1px solid #ccc;
      border-radius: 3px;
      margin-bottom: 10px;
      width: 100%;
      box-sizing: border-box;
      font-family: montserrat, sans-serif;
      color: #2C3E50;
      font-size: 13px;


    }

    // buttons
    .action-button {
      width: 100px;
      background: lightblue;
      font-weight: bold;
      color: white;
      border: 0 none;
      border-radius: 1px;
      cursor: pointer;
      padding: 10px 5px;
      margin: 10px 5px;

      &:hover, &:focus {
        box-shadow: 0 0 0 2px white, 0 0 0 3px lightblue;
      }
    }

    // headings
    .fs-title {
      font-size: 15px;
      text-transform: uppercase;
      color: #2C3E50;
      margin-bottom: 10px;
    }

    .fs-subtitle {
      font-weight: normal;
      font-size: 13px;
      color: #666;
      margin-bottom: 20px;
    }
  }
}

#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  counter-reset: step;

  li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 9px;
    float: left;
    width: 33.33%;
    position: relative;

    &:before {
      content: counter(step);
      counter-increment: step;
      width: 20px;
      line-height: 20px;
      display: block;
      font-size: 10px;
      color: #333;
      background: white;
      border-radius: 3px;
      margin: 0 auto 5px auto;
    }

    &:after {
      content: '';
      width: 100%;
      height: 2px;
      position: absolute;
      background: white;
      left: -50%;
      top: 9px;
      z-index: -1;
    }

    &:first-child:after {
      content: none;
    }

    &.active:before, .active:after {
      background: lightskyblue;
      color: white;
    }
  }
}

